<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kanghee.dao.MemberMapper">
<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 'i'.toString()">
			and uid like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'e'.toString()">
			and email like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'n'.toString()">
			and uname like CONCAT('%', #{keyword}, '%')
		</if>
	</if>
</sql>

	<insert id="create" parameterType="MemberVO">
		insert into tbl_member (uid, upw, email, uname, uimg)
		values (#{uid}, #{upw}, #{email}, #{uname}, #{uimg})
	</insert>

	<select id="read" resultType="MemberVO">
		select * from tbl_member where uno = #{uno}
	</select>

	<update id="update" parameterType="MemberVO">
		update tbl_member set uid= #{uid}, upw= #{upw},
		email= #{email}, uname= #{uname}, uimg = #{uimg}, updatedate = now() where uno = #{uno};
	</update>
	
	<delete id="delete" parameterType="MemberVO">
		delete from tbl_member where uno = #{uno}
	</delete>
	
	<select id="list" resultType="MemberVO">
		select * from tbl_member
	</select>
	
	<select id="listPage" resultType="MemberVO">
		<![CDATA[
		select uno, uid, upw, email, uname, uimg, regdate, updatedate
		from tbl_member where uno > 0 order by uno desc, regdate desc limit #{page}, 10
		]]>
	</select>
	
	<select id="listCriteria" resultType="MemberVO">
		<![CDATA[
		select uno, uid, upw, email, uname, uimg, regdate, updatedate
		from tbl_member where uno > 0 order by uno desc, regdate desc limit #{pageStart}, #{perPageNum}	
		]]>
	</select>
	
	<select id="countPaging" resultType="int">
		<![CDATA[
		select count(uno) from tbl_member where uno > 0			
		]]>
	</select>
	
	<select id="listSearch" resultType="MemberVO">
		<![CDATA[
		select * from tbl_member where uno > 0
		]]>
		<include refid="search"></include> 
		<![CDATA[
		order by uno desc
		limit #{pageStart}, #{perPageNum}		
		]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select count(uno) from tbl_member where uno > 0	
		]]>
		<include refid="search"></include>
	</select>
	
</mapper>